.dashboard {
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/startnight.jpg');
  background-size: 100% 100%;
}
.dashboard::after {
  clear: both;
  display: block;
  content: "";
}
.dashboard .header {
  height: 55.5px;
  width: 100%;
  display: flex;
}
.dashboard .header::after {
  clear: both;
  display: block;
  content: "";
}
.dashboard .left-nav {
  background-color: rgba(3, 7, 33, 0.4);
  height: 100%;
  float: left;
}
.dashboard .left-nav .nav {
  background-color: rgba(3, 7, 33, 0.4);
  height: 1000px;
  width: 200px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin-top: 100px;
}
.dashboard .left-nav .nav .route-li {
  display: block;
  margin-top: 5px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.dashboard .left-nav .nav .route-li:first-child {
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}
.dashboard .left-nav .nav .route-li:nth-child(2) {
  border-top: 1px solid white;
  padding-top: 20px;
}
.dashboard .left-nav .nav .route-li:nth-child(3) {
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}
.dashboard .left-nav .nav .route-li:nth-child(4) {
  padding-top: 20px;
}
.dashboard .left-nav .nav .left-route:hover {
  color: #d44444 !important;
  background: #fff;
  transition: all 0.4s ease-in-out;
}
.dashboard .right-content {
  overflow: scroll;
  width: calc(100% - 200px);
  height: 800px;
  float: left;
  flex-shrink: 0;
}
