/* .fluid_gui {
    top: 30%;
    z-index: 3000000000000000000000000000000;
    flex-direction: column;
    width: 100%;
} */
/* 
.randomsplatsbutton {
    width: 20%;
    height: 20%;
    left: 50%;
    top: 50%;
    position: fixed;
    z-index: 30000000000000000000000000000001;
    background-color: white;
} */